<script>
import api from "api";
import PromisedSelect from "@/components/PromisedSelect";

export default {
  components: {
    PromisedSelect
  },
  props: {
    workoutId: {
      type: [String, Number],
      required: true
    }
  },
  data() {
    return {
      exercise: {
        workoutId: this.workoutId
      },
      previousExercise: {}
    };
  },
  methods: {
    showError(message) {
      this.$bvToast.toast(message, {
        title: "Dang-o! Couldn't add exercise",
        autoHideDelay: 3000,
        solid: true,
        variant: "danger"
      });
    },
    async addExercise() {
      // TODO: Replace this with actual validation
      if (!this.exercise.exerciseListId)
        return this.showError("You need to select an exercise!");
      if (!this.exercise.periodListId)
        return this.showError("You need to select an period!");
      if (!this.exercise.weight)
        return this.showError("You need to add some weight!");
      if (!this.exercise.reps)
        return this.showError("You need to add some reps!");

      this.$store.dispatch("addExercise", this.exercise);
    },
    getApi(method) {
      return api[method];
    },
    handleExerciseInput(value) {
      this.exercise.exerciseListId = value;
      this.checkPrevious();
    },
    handlePeriodInput(value) {
      this.exercise.periodListId = value;
      this.checkPrevious();
    },
    async checkPrevious() {
      if (this.exercise.exerciseListId && this.exercise.periodListId) {
        this.previousExercise =
          (await api.getPreviousExercise(
            this.exercise.exerciseListId,
            this.exercise.periodListId
          )) || {};
      } else {
        this.previousExercise = {};
      }
    },
    reset() {
      this.exercise = { workoutId: this.workoutId };
      this.checkPrevious();
    }
  },
  watch: {
    workoutId(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.exercise = {
          workoutId: this.workoutId
        };
        this.previousExercise = {};
      }
    }
  }
};
</script>

<template>
  <b-card bg-variant="light">
    <b-form @submit.prevent="addExercise">
      <b-row>
        <b-col sm="6">
          <b-form-group label="Exercise" label-for="exercise" label-sr-only>
            <PromisedSelect
              id="exercise"
              :selected="exercise.exerciseListId"
              :dataFn="getApi('getExerciseList')"
              @input="handleExerciseInput"
            />
          </b-form-group>
        </b-col>

        <b-col sm="6">
          <b-form-group label="Period" label-for="period" label-sr-only>
            <PromisedSelect
              id="period"
              :selected="exercise.periodListId"
              :dataFn="getApi('getPeriodList')"
              @input="handlePeriodInput"
            />
          </b-form-group>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-form-group label="Weight" label-for="weight" label-sr-only>
            <b-input-group append="lbs">
              <b-form-input
                id="weight"
                v-model="exercise.weight"
                type="number"
                pattern="\d*"
                :placeholder="previousExercise.weight || 'Weight'"
              ></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>

        <b-col>
          <b-form-group label="Reps" label-for="reps" label-sr-only>
            <b-form-input
              id="reps"
              v-model="exercise.reps"
              type="number"
              pattern="\d*"
              :placeholder="previousExercise.reps || 'Reps'"
            ></b-form-input>
          </b-form-group>
        </b-col>
      </b-row>

      <b-form-group label="Notes" label-for="notes" label-sr-only>
        <b-form-textarea
          id="notes"
          v-model="exercise.notes"
          :placeholder="previousExercise.notes"
        />
      </b-form-group>

      <b-button variant="primary" type="submit">
        <font-awesome-icon icon="plus-circle" />
        Add
      </b-button>

      <b-button variant="light" type="reset" class="ml-2" @click="reset">
        <font-awesome-icon icon="ban" />
        Clear
      </b-button>
    </b-form>
  </b-card>
</template>
