<script>
import { BNavbar, BNavbarBrand, BNavbarNav, BButton } from "bootstrap-vue";

export default {
  components: { BNavbar, BNavbarBrand, BNavbarNav, BButton },
  methods: {
    async handleClick() {
      const workout = await this.$store.dispatch("addWorkout");
      this.$router.push(`/${workout.id}`);
    }
  }
};
</script>

<template>
  <b-navbar type="dark" variant="info">
    <b-navbar-brand to="/">Workout Tracker</b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-button pill variant="primary" @click="handleClick">
        <font-awesome-icon icon="plus-circle" />
        Workout
      </b-button>
    </b-navbar-nav>
  </b-navbar>
</template>
