<script>
import dayjs from "dayjs";
import { BListGroup, BListGroupItem } from "bootstrap-vue";
import api from "api";

export default {
  components: {
    BListGroup,
    BListGroupItem
  },
  data() {
    return {
      workouts: undefined,
      lastDeletedId: undefined
    };
  },
  methods: {
    formatDate(date, format = "dddd, MMM D, YYYY h:mm A") {
      return dayjs(date).format(format);
    },
    async deleteWorkout(id) {
      this.lastDeletedId = id;
      await api.delWorkout(id);
      this.updateWorkouts();
    },
    async undoDeleteWorkout() {
      await api.undoDelWorkout(this.lastDeletedId);
      this.updateWorkouts();
      this.lastDeletedId = undefined;
    },
    updateWorkouts() {
      this.workouts = api.getWorkouts();
    },
    cleanupDatabase() {
      if (confirm("WARNING THIS CANNOT BE UNDONE!!!")) {
        api.purge("workouts");
        api.purge("exercises");
        this.lastDeletedId = undefined;
      }
    }
  },
  created() {
    this.updateWorkouts();
  }
};
</script>

<template>
  <div>
    Go ahead and start a new workout whenever you are ready champ. 💪

    <PromisedWrapper :promise="workouts">
      <template v-slot="{ data }">
        <h4 v-if="data.length" class="mt-3">Past Workouts</h4>

        <b-list-group>
          <b-list-group-item
            class="d-flex justify-content-between"
            data-testid="workout-list-item"
            v-for="workout in data"
            :key="workout.id"
            :href="'/' + workout.id"
          >
            <div>
              <p class="mb-0">
                {{ workout.title || formatDate(workout.date, "dddd, MMM D") }}
              </p>
              <small>{{ formatDate(workout.date) }}</small>
            </div>
            <b-button
              title="Delete Workout"
              variant="link"
              class="p-0 text-danger"
              @click.prevent.stop="deleteWorkout(workout.id)"
            >
              <font-awesome-icon icon="times-circle" />
            </b-button>
          </b-list-group-item>
        </b-list-group>
      </template>
    </PromisedWrapper>

    <b-button
      v-if="lastDeletedId"
      variant="info"
      size="sm"
      @click="undoDeleteWorkout"
      class="mt-3 mr-2"
    >
      Undo last delete
    </b-button>

    <b-button variant="danger" size="sm" @click="cleanupDatabase" class="mt-3">
      Clean up database
    </b-button>
  </div>
</template>
