<script>
export default {
  props: {
    selected: {
      type: [Number, String],
      default: null
    },
    dataFn: {
      type: Function,
      required: true
    },
    id: {
      type: String,
      default: undefined
    }
  },
  data() {
    return {
      promise: null,
      selectValue: this.selected
    };
  },
  created() {
    this.promise = this.dataFn();
  },
  watch: {
    selected() {
      this.selectValue = this.selected;
    }
  }
};
</script>

<template>
  <PromisedWrapper :promise="promise">
    <template v-slot="{ data }">
      <b-form-select
        v-model="selectValue"
        :id="id"
        :options="data"
        @input="$emit('input', selectValue)"
      ></b-form-select>
    </template>
  </PromisedWrapper>
</template>
