<script>
import { BAlert, BSpinner } from "bootstrap-vue";

export default {
  components: { BAlert, BSpinner },
  props: {
    promise: {
      type: Promise,
      require: true
    }
  }
};
</script>

<template>
  <Promised v-slot:combined="{ isPending, data, error }" :promise="promise">
    <transition name="fade" mode="out-in">
      <div v-if="isPending" key="pending" class="d-flex justify-content-center">
        <b-spinner variant="info" />
      </div>
      <div v-else-if="error" key="error">
        <b-alert show variant="danger">
          <h4>
            Something went wrong 😞
          </h4>

          <hr />

          <p class="mb-0">
            {{ error }}
          </p>
        </b-alert>
      </div>
      <div v-else key="data">
        <slot v-bind:data="data" />
      </div>
    </transition>
  </Promised>
</template>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
