<script>
import dayjs from "dayjs";
import debounce from "debounce";
import api from "api";
import { BListGroup, BListGroupItem } from "bootstrap-vue";
import ExerciseEntryForm from "@/components/ExerciseEntryForm";

export default {
  components: {
    BListGroup,
    BListGroupItem,
    ExerciseEntryForm
  },
  props: {
    workout: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      deletedExercise: undefined,
      title: dayjs(this.workout.timestamp).format("DD/MM/YYYY"),
      date: dayjs(this.workout.timestamp).format("YYYY-MM-DD")
    };
  },
  methods: {
    delExercise(exercise) {
      this.deletedExercise = exercise;
      this.$store.dispatch("delExercise", exercise);
    },
    async undoDelExercise() {
      await this.$store.dispatch("undoDelExercise", this.deletedExercise);
      this.deletedExercise = undefined;
    }
  },
  created() {
    const updateDateFn = value => {
      const date = dayjs(value).valueOf();
      api.updateWorkout({ id: this.workout.id, date, updatedOn: Date.now() });
    };
    this.updateDate = debounce(updateDateFn, 300);

    const updateTitleFn = title => {
      api.updateWorkout({ id: this.workout.id, title, updatedOn: Date.now() });
    };
    this.updateTitle = debounce(updateTitleFn, 300);
  }
};
</script>

<template>
  <b-form>
    <b-form-group
      id="title-group"
      label-for="title-input"
      description="Title, defaults to today's date"
    >
      <label for="title-input" class="sr-only">Title</label>
      <b-form-input
        id="title-input"
        type="text"
        v-model="title"
        @input="updateTitle"
      />
    </b-form-group>

    <b-form-group
      id="date-group"
      label-for="date-input"
      description="Date of workout"
    >
      <label for="date-input" class="sr-only">Date</label>
      <b-form-input
        id="date-input"
        type="date"
        v-model="date"
        @input="updateDate"
      />
    </b-form-group>

    <ExerciseEntryForm :key="workout.id" :workoutId="workout.id" />

    <b-button
      v-if="deletedExercise"
      variant="warning"
      @click="undoDelExercise"
      class="mt-2"
    >
      <font-awesome-icon icon="undo" />
      Undo last delete
    </b-button>

    <b-list-group class="mt-3" data-testid="exercises">
      <b-list-group-item
        v-for="exercise in workout.exercises"
        :key="exercise.id"
      >
        {{ exercise.exerciseText }}
        <div class="d-inline float-right text-right">
          {{ exercise.weight }} lbs x {{ exercise.reps }}
          <br />
          <a
            href="#"
            class="text-danger"
            aria-label="Delete exercise"
            @click.prevent="delExercise(exercise)"
          >
            <font-awesome-icon icon="times-circle" />
          </a>
        </div>
        <br />
        <small class="text-muted">{{ exercise.periodText }}</small>
      </b-list-group-item>
    </b-list-group>
  </b-form>
</template>
