<script>
import WorkoutEntryForm from "@/components/WorkoutEntryForm";

export default {
  components: {
    WorkoutEntryForm
  },
  data() {
    return {
      getWorkout: undefined
    };
  },
  computed: {
    workout() {
      return this.$store.state.workout;
    },
    workoutId() {
      return this.$route.params.id;
    }
  },
  methods: {
    updateWorkout() {
      this.getWorkout = this.$store.dispatch("loadWorkout", this.workoutId);
    }
  },
  mounted() {
    this.updateWorkout();
  }
};
</script>

<template>
  <PromisedWrapper :promise="getWorkout">
    <template v-slot:default="{ data }">
      <WorkoutEntryForm :workout="workout" />
    </template>
  </PromisedWrapper>
</template>
