<script>
import NavHeader from "@/components/NavHeader";

export default {
  components: { NavHeader }
};
</script>

<template>
  <b-container fluid class="pl-0 pr-0 pb-3">
    <nav-header />
    <b-container fluid class="pt-3">
      <router-view />
    </b-container>
  </b-container>
</template>
